.table {
	width: 300px;
}
.sample {
	display: flex;
	width: 960px;
	margin: 100px auto 0;
	padding-top: 20px;
}
.tmp {
	outline: 1px solid lightgray;
}
.snippet {
	display: flex;
	width: 50%;
	flex-direction: column;
	align-items: center;
}

.show-modal {
	width: 400px;
	border: 1px solid lightgray;
	box-sizing: border-box;
	position: absolute;
	left: calc(50% - 200px);
	top: 100px;
	background-color: #fff;
	padding: 10px 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.show-modal__caption {
	text-align: center;
}