.tmp {
    outline: 1px solid #333;
}

.canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.8);        
}    

.details {
    position: relative;
    min-width: 300px;
    padding: 5px 10px 10px;
}
.details {
    border: 1px solid #333;
    background-color: #000;
    box-shadow: 0 2px 5px 0px #000;       
}

.details__close {
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid lightgray;
    position: absolute;
    top: 3px;
    right: 3px;
    opacity: 0.5;
}
.details__close:hover {
    opacity: 1;
    cursor: pointer;
    border: 2px solid lightgray;
}

.details__close::after,
.details__close::before {
    display: block;
    position: absolute;
    content: '';
    width: 80%;
    height: 2px;
    top: 7px;
    left: 2px;
    background-color: lightgray;
}
.details__close::after {
    transform: rotate(45deg);
}
.details__close::before {
    transform: rotate(-45deg);
}

.pointer {
    cursor: pointer;
}