html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #000;
    color: rgba(255, 255, 255, 0.8);
}

button, i, input, ul, li, textarea {
    font-family: Roboto Condensed;
    font-size: 14px;
}

h1, h2 {
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

a:hover {
    text-decoration: underline;
}

button, .button {
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    margin-right: 10px;
    display: inline-flex;
}


button:hover {
    cursor: pointer;
}

input,
textarea {
    background-color: #000;
    border: 1px solid #333;
    color: rgba(255, 255, 255, 0.8);
    padding: 5px;
}
textarea {
    resize: vertical;
}

.checkbox {
    display: none;
}

.checkbox + label {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #333;
    width: 14px;
    height: 14px;
}

.checkbox:checked + label::before {
    display: block;
    position: absolute;
    content: '';
    left: 1px;
    top: 2px;
    width: 8px;
    height: 4px;
    border-left: 2px solid rgba(255, 255, 255, 0.8);
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
    transform: rotate(-45deg);
}

.radio {
    display: none;
}
.radio + label {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    border: 2px solid #333;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

.radio:checked + label {
    background-color: #333;
    border-color: lightgray;
}

select {
    padding:3px;
    margin: 0;
    background: #000;
    color: rgba(255, 255, 255, 0.8);
    border: 1px solid #333;
    outline: none;

    cursor: pointer;
    width: 100%;
}

button, .button{
    background-color: #000;
    border: 3px solid #333;
    color: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
}
button:hover, .button:hover {
    cursor: pointer;
    border: 3px solid rgba(255, 255, 255, 0.8);
}