<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
</head>
<body>
<div class="sample tmp">
	<product-list :products="products" @edit="toEdit"></product-list>
<!-- 	
<div class="snippet snippet__products">
	<h3>Свободные</h3>
	<table class="table table-bordered">
		<tr>
			<th>№</th>
			<th>Товар</th>
		</tr>
		<tr v-for="(item, index) in products" @click="toEdit(item)">
			<td>{{ index + 1}}</td>
			<td>{{ item.name}}</td>
		</tr>
	</table>
</div>
<app-progress style=" width: 300px" :max="max" :val="val"></app-progress>

<div class="snippet snippet__orders">
	<h3>В прокате</h3>
	<table class="table table-bordered">
		<tr>
			<th>№</th>
			<th>Товар</th>
			<th>Старт</th>
			<th>В прокате</th>
		</tr>
		<tr v-for="(item, index) in orders" @click="unset(item, index)">
			<td>{{ index + 1}}</td>
			<td>{{ item.name}}</td>
			<td>{{ item.timeStart }}</td>
			<td>{{ timeFormat(item.timePlay) }}</td>
		</tr>
	</table>
</div> -->

	<form action="" class="show-modal" v-show="showOrderModal">
		<h3 class="show-modal__caption">Добавление нового ордера проката</h3>
		<table class="table table-bordered">
			<tr>
				<td>Товар</td>
				<td>{{order.name}}</td>
			</tr>
			<tr>
				<td>ID</td>
				<td>001</td>
			</tr>
			<tr>
				<td>Аванс</td>
				<td><input type="text"></td>
			</tr>
			<tr>
				<td>Клиент</td>
				<td><input type="text"></td>
			</tr>
			<tr>
				<td>Залог</td>
				<td>
					<select>
		              <option value="">Паспорт</option>
		              <option value="">Права</option>
		              <option value="">Еще</option>
		            </select>
		        </td>
			</tr>
			<tr>
				<td>Примечание</td>
				<td><input type="text"></td>
			</tr>
			<tr>
				<td>Акция</td>
				<td>
		            <select>
		              <option value="">Новый Год</option>
		              <option value="">Студент</option>
		              <option value="">Еще</option>
		            </select>
				</td>
			</tr>
			<tr>
				<td>Аксессуары</td>
				<td>
					<select>
		              <option value="">Кресло</option>
		              <option value="">Шлем</option>
		              <option value="">Еще</option>
		            </select>
		        </td>
			</tr>
		</table>
		<div class="show-modal__button-group">
			<button type="button">Печать</button>
			<button type="submit" @click.prevent="setOrder">ОК</button>
			<button type="button" @click="showOrderModal = false">Отмена</button>
		</div>
	</form>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.0.1/vuex.js"></script>
<script src="main.js"></script>
</body>
</html>