.table td {
	padding: 5px;
	border: 1px solid lightgray;
	box-sizing: border-box;
}
.table th {
	text-align: center;
}
.ord__td-1 {
	width: 25px;
}
.ord__td-2 {
	width: 40px;
}
.ord__td-3 {
	width: 25px;
}
.ord__td-4 {
	width: 180px;
}
.ord__td-5 {
	width: 120px;
}
.ord__td-6 {
	width: 25px;
}

#app {
	display: flex;
	width: 960px;
	margin: 100px auto 0;
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
}
.tmp {
	outline: 1px solid lightgray;
}
.snippet {
	display: flex;
	width: 50%;
	flex-direction: column;
	align-items: center;
}

.table-bordered {
	width: 400px;
}

.show-modal {
	width: 400px;
	border: 1px solid lightgray;
	box-sizing: border-box;
	position: absolute;
	left: calc(50% - 200px);
	top: 100px;
	background-color: #fff;
	padding: 10px 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.show-modal__caption {
	text-align: center;
}

.customer__select-list {
	width: 100%;
}

.snippet__products {
	width: 200px;
}
.snippet__orders {
	width: 400px;
}