
.repairs {
    position: relative;
    width: 900px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;

    .table__wrap {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
    }

    .caption-wrap {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        small {
            margin-left: 10px;
        }
        button {
            margin-left: 50px;
        }
    }
    .repairs__caption {
        font-size: 20px;
        &:hover {
            cursor: pointer;
        }
    }
    .repairs__table {
        /*outline: 1px solid #333;*/
        border-collapse: collapse;
        border: none;
        padding: 10px;

        .repairs__td {
            border: 1px solid #333;
            padding: 5px;
        }

        tr:not(:first-child):hover {
            cursor: pointer;
            background-color: #333;
        }
    }
    .col--sign {
        width: 15px;
        border: none;
    }
    .col--name {
        width: 150px;
    }
    .col--note {
        font-size: 14px;
    }
    .sign {
        display: block;
        width: 4px;
        height: 4px;
        border: 1px solid;
        border-radius: 50%;

        &--end {
            border-color: red;
        }
        &--warn {
            border-color: orange;
        }
        &--act {
            border-color: green;
        }
    }
    .showbtn {
        padding: 3px;
        text-align: center;
    }
}
